.md,
.ios {
    @media (min-width: map-get($grid-breakpoints, lg)) {
        .ion-page.pwa-center {
            /* Header */
            ion-header .toolbar {
                margin: 0;
                padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
                padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
            }
            /* Content */
            ion-content .scroll-content{
                padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
                padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
            }
            /* Footer */
            ion-footer .toolbar {
                margin: 0;
                padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
                padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
            }
        }
    }
}